
<div class="searchContainer" fxLayout="column" fxLayoutAlign="center center">
    <!-- Search term -->
    <input type="text" [(ngModel)]="searchTearm" ><br>
    <div fxLayout="row">
        <i>Search Result For</i>:<b>{{ searchTearm }}</b>
    </div>

    <ul>
        <li *ngFor="let user of users | filter : searchTearm "  fxLayout="column" fxLayoutGap="10px" >
            <div class="single-topic" fxLayout="row">     
                <span>name - {{user.name}}</span>
                <h4 style="margin: 0px;
                padding: 0px;
                margin-left: 10px;">{{user.email}}</h4>
            </div>
        </li>
    </ul>
 
    <span *ngIf="(users | filter : searchTearm).length == 0">No Results Found</span>
</div>